* {
	margin: 0;
	padding: 0;
}


body{
	color: #e79dae;
	background-color: #322d34;
	font-family: 'Courier New', Courier, monospace;


}


#nav {
	background-color: #4d4b58;
	padding: 1%;
	
	
}

#nav ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
}

#nav li{
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

#nav a{
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	color: #e79dae;
	
	
}

.nav_right{
	float: right;
}

#nav a:hover{
	color: #ac7c87;
}

#content{
	/* background-color: white; */
	margin: 5%;
}

.ln{
	text-decoration: none;
	font-style: italic;
	color: #e79dae;
}

.ln:hover {
	color: #ac7c87;
}


footer{
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	height:60px;
	text-align: center
}

footer a {
	text-decoration: none;
	font-style: italic;
	color: #e79dae;
	
}

footer a:hover{
	color: #ac7c87;

}

.pages{
	text-align: center
}

.pages a{
	text-decoration: none;
	color: #e79dae
}

.pages a:hover{
	color: #ac7c87;
}
